{:kotoba.app/latest "k51qzi5uqu5dlei73iciyqd8iezis47cxhcemgczo99xkyc26wz3omglx819d6", :kotoba.app/site-cid "bafybeifdwvcuhehjyfa7drm53hsnzbvgerajv3gytn2uookudawm2rwhy4", :kotoba.app/id "cloud.itonami.app-air-ffp", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dlei73iciyqd8iezis47cxhcemgczo99xkyc26wz3omglx819d6", :published {:own-nodes {:cid "bafybeifdwvcuhehjyfa7drm53hsnzbvgerajv3gytn2uookudawm2rwhy4", :ipns "k51qzi5uqu5dlei73iciyqd8iezis47cxhcemgczo99xkyc26wz3omglx819d6", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T04:34:06Z"}}}
